<div class="row">
  <div class="col-12">
    <h1>Veuillez vous authentifier</h1>
    <form class="form-group" (ngSubmit)="authenticate()">
      <div class="row">
        <div class="col-6">
          <label for="email">Votre email:</label>
        </div>
        <div class="col-6">
          <input class="form-control" type="email" placeholder="mon-email@example.com" name="email" [(ngModel)]="email">
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <label for="password">Votre password:</label>
        </div>
        <div class="col-6">
          <input class="form-control" type="password" placeholder="votre mot de passe" name="password" [(ngModel)]="password">
        </div>
      </div>
      <input class="btn btn-primary" type="submit" value="Se connecter">
    </form>
  </div>
  <div class="col-12">
    <span *ngIf="msgError" class="text-danger">{{msgError}}</span>
  </div>
</div>
